<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body class="bg-dark">
		<script src="https://kit.fontawesome.com/cc9165eed4.js" crossorigin="anonymous"></script>
		<div class="mt-5 bg-dark">
			<div class="container">
				 
                <h1 class="bg-warning rounded text-center">НЕТУ НАХУЙ</h1>
                <a href="{{ url_for('index') }}" class="btn btn-primary">На гланую</a>

			</div>
		</div>
	</body>
</html>

