{% extends 'base.html' %} 
{% block title %} {{ title }} {% endblock %} 
{% block content %} 
{% if role == 'admin' %} 
{% if users %} 
{% for user in users %}
<div class="bg-light p-3 mb-3 rounded shadow d-flex justify-content-between">
	<div class="info d-flex">
		<img
			style="
				width: 200px;
				margin-right: 2em;
				height: 200px;
				border-radius: 50%;
				object-fit: cover;
				margin-left: 2em;
				border: 2px solid #289ae6;
			"
			src="{{ user.avatar }}"
			alt=""
		/>
		<div class="ml-3 rounded">
			<h1>{{ user.username }}</h1>
			<p>Email: {{ user.email }}</p>
			<p>Created: {{ user.created_at }}</p>
			<p>Role: {{ user.role }}</p>
			<p>ID: {{ user.id }}</p>
		</div>
	</div>
	<div class="panel d-flex flex-column">
		<a class="btn btn-danger" href="{{ url_for('delete', id=user.id) }}"
			>Delete</a
		>
	</div>
</div>
{% endfor %} {% else %}
<h1 class="alert alert-warning">Список пуст</h1>
{% endif %} {% else %}
<h1 class="alert alert-warning">Доступ запрещен - {{ current_user }}</h1>
{% endif %} {% endblock %}
