.avatar150 {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}

.avatar100 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.avatar50 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
